# Scopus / Elsevier
SCOPUS_API_KEY=
SCOPUS_API_KEYS=

# Google Sheets
GOOGLE_CREDENTIALS_FILE=service-account.json
OAX_GOOGLE_SHEET_ID=
SCOPUS_GOOGLE_SHEET_ID=
RRBM_GOOGLE_SHEET_ID=
RRBM_SHEET_NAME=Sheet4

# RRBM
RRBM_USERNAME=
RRBM_PASSWORD=
